/******  GENERAL  ******/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: LightGray;
  width: 100vw;
}

/* container class to use throughout page*/
.content {
  width: 60%;
  margin: 0 auto;
  padding: 0 0.938rem; /* equiv. to 15px */
}

/******  NAVIGATION  ******/

.top-nav {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.top-nav > .content {
  height: 4.375rem;
}

.logo {
  width: 26px;
  /*  vertically centers element with unknown height */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav .links {
  float: right;
  margin: 0; /* clears margin for vertical centering */
  line-height: 4.357rem; /* vertically centers list elements, based on container height */
}

.links li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  display: inline-block;
  margin-left: 1.563rem;
  letter-spacing: 0.01em;
}

.links a {
  color: #838994;
}

.links a:hover {
  cursor: pointer;
  color: #f15a29;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.links a:active {
  color: #4c5058;
  font-weight: 500;
}

/* temporary active state for demo purposes only*/
.links li:nth-child(1) a {
  color: #4c5058;
  font-weight: 500;
}



/******  GENERAL  ******/