/*
  ========================================
  GENERAL
  ========================================
*/

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

/* container class to use throughout page*/
.content {
  width: 60%;
  margin: 0 auto;
  padding: 0 0.938rem; /* equiv. to 15px */
}


/*
  ========================================
  NAVIGATION
  ========================================
*/

.top-nav {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 9999;
}

.top-nav > .content {
  height: 4.375rem;
}

.logo {
  width: 26px;
  margin-top: 1em;
}

.top-nav .links {
  font-size: 1.05rem;
  letter-spacing: 0.01em;
  float: right;
  margin: 0; /* clears margin for vertical centering */
  line-height: 4.357rem; /* vertically centers list elements, based on container height */
}

.links li {
  display: inline-block;
  margin-left: 1.563rem
}

.links a {
  color: #838994;
}

.links a:hover {
  cursor: pointer;
  color: #f15a29;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.links a:active {
  color: #4c5058;
  font-weight: 500;
}

/* temporary active state for demo purposes only*/
.links li:nth-child(1) a {
  color: #4c5058;
  font-weight: 500;
}


/*
  ========================================
  HERO INTRODUCTION
  ========================================
*/

.hero-intro {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; /* pins bottom of image to the container */
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden; /* rid the seemingly margins on top/bottom */
}

.hero-intro .content {
  position: relative;
  top: 35%;
  font-size: 1.5rem;
}

.hero-intro h1, h3 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.hero-intro h1 {
  margin-bottom: 0.5rem;
}

.hero-intro h3 {
  font-size: 1.1em; 
  margin-top: 0;
}

.big-button {
  display: block;
  width: 156px;
  margin: 0 auto;
  font-size: 0.75em;
  text-align: center;
  padding: 0.8em;
  border-radius: 5px;
  background-color: #f15a29;
  cursor: pointer;
  border: none;
  color: #fff;
  outline: none;
}

.big-button:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 4px #f15a29;
  background-color: #d9400e; 
}


/*
  ========================================
  INFO SECTION
  ========================================
*/


.cases h2, h3, ul {
  text-align: center;
}

.cases h2 {
  font-size: 2.75rem;
  font-weight: 300;
  margin-top: 7.4rem;
  margin-bottom: 3rem;
}

.caption h3 {
  width: 10rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

/* FLEXBOX */
.devices {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.devices li {
  margin: 0 auto;
}

<<<<<<< HEAD
/* FLOATING ELEMENTS */
/*.devices li {*/
/*  padding: 0 2.5rem;*/
/*  width: 33.33%;*/
/*  float: left;*/
}

/* CALC() FUNCTION */
/*
.devices li {
  float: left;
  width: calc(33% - 20px);
  margin: 10px;
}
*/

=======
>>>>>>> b69c9377ae6c84428505f2f997134311f76f6fe6
.devices img {
  width: 127px;
}

.devices img:hover {
  -webkit-animation: spin 0.3s linear;
  -moz-animation:    spin 0.3s linear;
  -o-animation:      spin 0.3s linear;
  animation:         spin 0.3s linear;
}


/*
  ========================================
  FOOTER SECTION
  ========================================
*/

.social {
  text-align: center;
  margin: 8rem auto;
}

hr {
  border-top: 1px solid #eaebec;
  margin: 3rem 0;
}

.social h5 {
  font-weight: 400;
  font-size: 1rem;
}

.icons li {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #eaebec;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.2rem 0.25rem;
}

.icons li:hover {
  cursor: pointer;
}

.twitter span {
  color: #55acee;
}

.facebook span {
  color: #4c66a4;
}

.instagram span {
  color: #3f729b;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 300;
  color: #838994;
}


/*
  ========================================
  KEYFRAME ANIMATIONS
  ========================================
*/


@-webkit-keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-moz-keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-o-keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}