/******  GENERAL  ******/

body {
  background-color: LightGray;
  width: 100vw;
}


/******  HEADER  ******/

.nav-bar {
  position: fixed;
  width: 100vw;
  height: 8vh;
  background-color: #fff;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  float: left;
}

.logo img {
  position: absolute;
  width: 1.7em;
  margin: 1em 0;
}

.nav {
  margin: 1em 0;
  float: right;
}

.nav ul {
  list-style: none;
}

.nav li {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  color: grey;
  display: inline;
  padding: 0 0.6em 0 0.6em; 
}

.nav li:nth-child(1) {
  color: #333;
}

.nav li:hover {
  color: #333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


/******  GENERAL  ******/