/******  GENERAL  ******/

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

/* container class to use throughout page*/
.content {
  width: 60%;
  margin: 0 auto;
  padding: 0 0.938rem; /* equiv. to 15px */
}



/******  NAVIGATION  ******/

.top-nav {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.top-nav > .content {
  height: 4.375rem;
}

.logo {
  width: 26px;
  /*  vertically centers element with unknown height */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav .links {
  font-size: 1.05rem;
  letter-spacing: 0.01em;
  float: right;
  margin: 0; /* clears margin for vertical centering */
  line-height: 4.357rem; /* vertically centers list elements, based on container height */
}

.links li {
  display: inline-block;
  margin-left: 1.563rem
}

.links a {
  color: #838994;
}

.links a:hover {
  cursor: pointer;
  color: #f15a29;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.links a:active {
  color: #4c5058;
  font-weight: 500;
}

/* temporary active state for demo purposes only*/
.links li:nth-child(1) a {
  color: #4c5058;
  font-weight: 500;
}


/******  HERO INTRODUCTION  ******/

.hero {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; /* pins bottom of image to the container */
  -webkit-background-size: cover;
  background-size: cover;
  height: 79vh;
  overflow: hidden; /* rid the seemingly margins on top/bottom */
}

.hero .content {
  position: relative;
  top: 35%;
}

.hero h1, h3, .button {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.hero h1 {
  
}

.hero h3 {
  
}

.button {
   
}



